ul.checkmark li {
  font-size: 16px;
  margin-bottom: 1em;
  list-style-type: none;
  padding: 0.25em 0 0 2.5em;
  position: relative;
  font-size: 25px;
}
ul.checkmark li:before {
  content: " ";
  display: block;
  border: solid 0.8em #00BA30;
  border-radius: 0.8em;
  height: 0;
  width: 0;
  position: absolute;
  left: 0.5em;
  top: 40%;
  margin-top: -0.5em;
}
ul.checkmark li:after {
  content: " ";
  display: block;
  width: 0.4em;
  height: 0.7em;
  border: solid #fff;
  border-width: 0 0.2em 0.2em 0;
  position: absolute;
  left: 1.1em;
  top: 45%;
  margin-top: -0.2em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#skills h3 {
	margin-top: 1em;
	margin-bottom: 1em;
}

#skills .section-title {
	padding-bottom: 0em;
}

#resume .title {
	margin-top: 1em;
	margin-bottom: 1em;
}

.resume-download {
	text-align: center;
	padding-top: 5px;
	color: white;
	width: 290px;
	border: solid black;
	background: #4085FF;
	border-radius: 25px;
}

.resume-download h3 {
	display: inline-block;
}

.resume-download a:link {
	color: white;
}

.info {
	width: 70%;
}

.project-item {
	margin: 30px 0px 30px 0px;
}

.project-item video {
	display: block;
	width: 80%;
}

#project-link a:visited {
	color: white;
}

#project-link a:link {
	color: white;
}

#project-link {
	font-size: 20px;
	padding-right: 25px;
	padding-top: 10px;
	color: white;
	border: solid black;
	background: #4085FF;
	border-width: 5px;
	border-radius: 40px;
	margin-top: 40px;
	position: relative;
	z-index: 1;
}

.hero-container {
	position: fixed;
	margin-top: 10%;
	z-index: 1;
}

#hero {
	padding: 10%;
}

#scroll {
	color: #FFFFFF;
	margin-top: 10%;
	z-index: 2;
}

.scroll-text {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 80px);
  left: calc(50% - 14px);
  width: 0;
  height: 40px;
  border: 3px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 5px;
  left: -16px;
  width: 32px;
  height: 32px;
  border-bottom: 7px solid;
  border-right: 7px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}
